@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* FONTS */
    --grandstander: "Grandstander", cursive;
    /* COLOURS */
    --white: #ffffff;
    --black: #000000;
    --yellow: #E1D733;
    --dark-blue: #1D2D7C;
    --light-blue: #dfeaee;
    --light-orange: #fbf6ea;
    --input-icon-grey: #D4D4D4;
    --item-bgn-grey: #EFEFEF;
    --sorted-text-grey: #626161;
}


/* ================== HTML PAGE FORMATTING ================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 1%;
    background-color: var(--white);
    font-family: var(--grandstander), Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    width: 100%;
    height: 15vh;
    border-bottom: solid 5px var(--dark-blue);

}

.header__container {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__container-img {
    width: 50px;    
}

.header__container h1 {
    color: var(--yellow);
    text-shadow: 0px 0px 0 rgb(216,154,0),
    1px 1px 0 rgb(178,116,0),
    2px 2px 0 rgb(139,77,0),
    3px 3px  0 rgb(100,38,0),
    4px 4px 3px rgba(29,45,124,0.28),
    4px 4px 1px rgba(29,45,124,0.5),
    0px 0px 3px rgba(29,45,124,.2);
}

/* MAIN */

main {
    width: 100%;
    background-color: var(--light-orange);
    margin-top: 10px;
    padding-top: 20px;
}

main h2 {
    text-align: center;
    font-size: 3rem;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section__container {
    margin: 2rem 0;
    padding: 2rem 0;
    width: 70%;
    background-color: var(--light-blue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* POKEMON PICTURE CONTAINER */

.figure__container {
    width: 300px;
    background-color: var(--white);
    box-shadow: 4px 3px 17px 5px rgba(0,0,0,0.35);
    border-radius: 15px;
}

.figure__container figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure__container figure img {
    width: 250px;
}

/* POKEMON INFO CONTAINER */

.pokemon__info-container {
    width: 50%;
}

.pokemon__info-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.pokemon__info-wrapper h3 {
    font-size: 2rem;
}

/* POKEMON DATA CONTAINER */
.pokemon__data-container {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.pokemon__data-container ul {
    width: 100%;
    margin: 0 20px;
}

.pokemon__data-container ul li {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D4D4D4;   
}

.pokemon__data-container ul li:last-child {
    border-bottom: 1px solid #D4D4D4;
}


.pokemon__data-container ul li p {
    align-self: flex-start;
    padding: 7px 0;
}

.title {
    color: var(--sorted-text-grey);
}

/* FOOTER */

footer {
    padding: 20px 0;
    text-align: center;
}

