@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* FONTS */
    --grandstander: "Grandstander", cursive;
    /* COLOURS */
    --white: #ffffff;
    --black: #000000;
    --yellow: #E1D733;
    --dark-blue: #1D2D7C;
    --light-blue: #dfeaee;
    --input-text-grey: #707070;
    --input-icon-grey: #D4D4D4;
    --item-bgn-grey: #EFEFEF;
    --sorted-text-grey: #A6A6A6;
}


/* ================== HTML PAGE FORMATTING ================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 1%;
    background-color: var(--white);
    font-family: var(--grandstander), Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    width: 100%;
    height: 15vh;
    border-bottom: solid 5px var(--dark-blue);

}

.header__container {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__container-img {
    width: 50px;    
}

.header__container h1 {
    color: var(--yellow);
    text-shadow: 0px 0px 0 rgb(216,154,0),
    1px 1px 0 rgb(178,116,0),
    2px 2px 0 rgb(139,77,0),
    3px 3px  0 rgb(100,38,0),
    4px 4px 3px rgba(29,45,124,0.28),
    4px 4px 1px rgba(29,45,124,0.5),
    0px 0px 3px rgba(29,45,124,.2);
}

/* MAIN */

main {
    background-color: var(--light-blue);
    margin-top: 10px;
    padding-top: 20px;
}

main h2 {
    text-align: center;
    font-size: 3rem;
}


/* FOOTER */

footer {
    padding: 20px 0;
    text-align: center;
}

